apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - ../../base
patches:
  - target:
      kind: Deployment
      name: bullmq-workers
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: bullmq-workers
      spec:
        replicas: 4
        template:
          spec:
            containers:
              - name: worker
                env:
                  - name: QUEUE_CONCURRENCY
                    value: "125"
